* {
    margin:0px;
    font-family: Helvetica, sans-serif;
}

body {
background:  url("img/baptiste-oUV7dlmXKms-unsplash.jpg");
background-size: cover;
}

.navbar {
    /* border-bottom: 1px solid white;   */
}

h3{
    left: 45%;
}

button {
    background:transparent;
    border-style: none;
    /* border: 1px solid green; */
    left: 77%;
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    
}

h3, button {
    display: inline-block;
    margin-top: 25px;
    position: relative;
    margin-bottom: 30px;
    color: white;
}